[client]
port={{ mysql_port }}
default-character-set=utf8
socket={{ mysql_sock }}

[mysqld]
skip-grant-tables
basedir={{ mysql_install_dir }}
datadir={{ mysql_data_dir }}
socket={{ mysql_sock }}
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#### memory configure
innodb_buffer_pool_size=2G
sort_buffer_size=4M
innodb_file_per_table=1
innodb_open_files=4000
table_open_cache=4000
max_connections=1000

#### character set
character-set-server=utf8
collation-server=utf8_general_ci
lower-case-table-names=1

#### log configure
slow-query-log=1
long-query-time=2
log_queries_not_using_indexes=1
slow-query-log-file={{ mysql_data_dir }}/mysql01-slow.log

#### replication configure
server-id = 1
replicate-ignore-db = mysql
replicate-ignore-db = information_schema
replicate-ignore-db = performance_schema
replicate-ignore-db = sys
binlog-ignore-db  = mysql
binlog-ignore-db  = information_schema
binlog-ignore-db  = performance_schema
binlog-ignore-db  = sys
binlog-format=ROW
binlog-row-image=full
binlog-rows-query-log-events=1
sync_binlog=1
log-slave-updates=true
auto-increment-increment = 2
auto-increment-offset = 1
gtid-mode=on
enforce-gtid-consistency=true
# slave-skip-errors=all
# expire-logs-days  = 100
slave-skip-errors=1396

#### time configure
explicit_defaults_for_timestamp=true

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
