[HDP]
name=HDP-2.5.3
baseurl={{ repo_url }}/hdp/HDP/centos7
gpgcheck=0


[HDP-UTILS-1.1.0.21]
name=HDP-UTILS
baseurl={{ repo_url }}/hdp/HDP-UTILS-1.1.0.21
gpgcheck=0

[ambari]
name=AMBARI-2.4.2
baseurl={{ repo_url }}/hdp/AMBARI-2.4.2.0/centos7/2.4.2.0-136
gpgcheck=0
