filebeat:
  prospectors:
    -
     paths:
        - {{ cowrie_log }}/cowrie.json
     input_type: log
     document_type: cowrie

output:
  logstash:
    hosts: ["{{ logstash_ip }}"]  # Whatever your ELK host is

shipper:

logging:
    path: /var/log/filebeat
    name: current
    rotateeverybytes: 10485760 # = 10MB
