#!/bin/sh
#
# This script will be executed *after* all the other init scripts.
# You can put your own initialization stuff in here if you don't
# want to do the full Sys V style init stuff.

touch /var/lock/subsys/local

# start codis-proxy
nohup /app/codis/bin/codis-proxy --ncpu=4 --config=/app/codis/proxy.conf --log=/app/codis/log/proxy.log --log-level=WARN &
