<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>yunlu@casicloud.com</display-name>
	<description>Spring MVC web application</description>

	<!-- For web context -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- For root context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-core-config.xml</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>

	<error-page>
	　　<error-code>404</error-code>
	　　<location>/WEB-INF/views/common/404.jsp</location>
　　</error-page>
	<error-page>
	　　<error-code>403</error-code>
	　　<location>/WEB-INF/views/common/403.jsp</location>
　　</error-page>

	<!--jsp不输出空行-->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>


	<!-- User Filter -->
	<filter>
		<filter-name>Inject Context Filter</filter-name>
		<filter-class>com.yunlu.mimas.aop.utils.InjectContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Inject Context Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/loginc</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CASFilter</filter-name>
		<!--   <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class> -->
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<!--  <param-value>http://sso.casicloud.com/login</param-value> -->
			<param-value>{{ yunluweb_cas_url }}/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<!--  <param-value>http://www.casicloud.com</param-value> -->
			<param-value>{{ yunluweb_platform_url }}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CASFilter</filter-name>
		<!-- <url-pattern>/CAS/casLogin.ht</url-pattern> -->
		<url-pattern>/loginc</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<!--   <param-value>http://sso.casicloud.com</param-value> -->
			<param-value>{{ yunluweb_cas_url }}</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<!--  <param-value>http://www.casicloud.com</param-value> -->
			<param-value>{{ yunluweb_platform_url }}</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/loginc</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>GetUserFilter</filter-name>
		<filter-class>com.yunlu.mimas.aop.utils.GetUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GetUserFilter</filter-name>
		<url-pattern>/loginc</url-pattern>
	</filter-mapping>
</web-app>
