jdbc.dbType=mysql
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url={{ yunlu_jdbc_url }}
jdbc.username={{ yunlu_jdbc_username }}
jdbc.password={{ yunlu_jdbc_password }}
upload.rootpath={{ yunluweb_upload_root }}
debug={{ yunluweb_debug }}
resource.url=https://incdn.htres.cn
redis.host={{ yunluweb_redis_host }}
#proxyHost=p.htres.cn
proxyPort=1428
