{
	"server":"{{ server }}",
	"server_port":"{{ server_port }}",
	"local_address":"{{ local_address }}",
	"local_port":"{{ local_port }}",
	"password":"{{ password }}",
	"timeout":{{ timeout }},
	"method":"aes-256-cfb",
	"fast_open":false
}
