input {
  beats{
    port => {{ logstash_port }}
  }
}

filter {
    if [type] == "cowrie" {

        json {
            source => message
        }

        date {
            match => [ "timestamp", "ISO8601" ]
        }

        if [src_ip]  {

            dns {
                reverse => [ "src_host", "src_ip" ]
                action => "append"
            }

            geoip {
                source => "src_ip"  # With the src_ip field
                target => "geoip"   # Add the geoip one
                # Using the database we previously saved
                database => "{{ geoip_dir }}/GeoLiteCity.dat"
                add_field => [ "[geoip][coordinates]", "%{[geoip][longitude]}" ]
                add_field => [ "[geoip][coordinates]", "%{[geoip][latitude]}"  ]
            }

            # Get the ASN code as well
            geoip {
                source => "src_ip"
                database => "{{ geoip_dir }}/GeoIPASNum.dat"
            }

            mutate {
                convert => [ "[geoip][coordinates]", "float" ]
            }
        }
    }
}

output {
    if [type] == "cowrie" {
        # Output to elasticsearch
        elasticsearch {
           hosts => ["{{ elasticsearch_ip }}"]  # Provided elasticsearch is listening on that host:port
           sniffing => true
           manage_template => false
           index => "cowrie-%{+YYYY.MM.dd}"
           document_type => "cowrie"
        }
        # For debugging
        stdout {
            codec => rubydebug
        }
    }
}
