{
	"RedisServers":
	[
		{
  			"server": "{{ redis_server_02 }}",
  			"port" : 7000
		},

		{
  			"server": "{{ redis_server_02 }}",
  			"port" : 7001
		},

		{
  			"server": "{{ redis_server_02 }}",
  			"port" : 7002
		},

		{
  			"server": "{{ redis_server_01 }}",
  			"port" : 7003
		},

		{
  			"server": "{{ redis_server_01 }}",
  			"port" : 7004
		},

		{
  			"server": "{{ redis_server_01 }}",
  			"port" : 7005
		}
	],

	"DataStoreType" : "sqlite",

	"RedisStatsServer":
	{
		"server" : "{{ redis_server_01 }}",
		"port" : 7005
	},

	"SqliteStatsStore" :
	{
		"path":  "{{ sqlite_path }}"
	}
}
